# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SlimeWorldWebAPI.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\ASP.NET\WebAPI\SlimeWorldWebAPI\.idea\.idea.SlimeWorldWebAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
